{
  "openapi": "3.1.0",
  "info": {
    "title": "Facturear API",
    "description": "API completa para facturación electrónica en Argentina. Integra con AFIP y genera facturas electrónicas válidas de forma rápida y segura.",
    "version": "1.0.0",
    "contact": {
      "name": "Facturear Support",
      "email": "support@facture.ar",
      "url": "https://facture.ar"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://www.facture.ar/api",
      "description": "Servidor de producción"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/cuits": {
      "get": {
        "summary": "Obtener CUITs",
        "description": "Obtiene la lista de CUITs asociados a tu cuenta, con sus valores por defecto (default_pos, default_invoice_type, default_concept, default_iva, is_default).",
        "tags": ["CUITs"],
        "responses": {
          "200": {
            "description": "Lista de CUITs obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Cuit"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Agregar un CUIT",
        "description": "Registra un CUIT en tu cuenta.",
        "tags": ["CUITs"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["number"],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número de CUIT"
                  },
                  "integrationMode": {
                    "type": "string",
                    "description": "Modo de conexión con ARCA"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "CUIT creado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cuit"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Límite de CUITs del plan alcanzado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "El CUIT ya está registrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cuits/{cuitId}/default-pos": {
      "post": {
        "summary": "Configurar punto de venta por defecto",
        "description": "Configura el punto de venta que se usa cuando una factura no trae ptoVta.",
        "tags": ["CUITs"],
        "parameters": [
          {
            "name": "cuitId",
            "in": "path",
            "description": "ID del CUIT en Facturear",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["defaultPos"],
                "properties": {
                  "defaultPos": {
                    "type": "integer",
                    "minimum": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Valor por defecto actualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Valor inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "CUIT no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cuits/{cuitId}/default-invoice-type": {
      "post": {
        "summary": "Configurar tipo de comprobante por defecto",
        "description": "Configura el tipo de comprobante (código de ARCA) que se usa cuando una factura no trae invoiceType.",
        "tags": ["CUITs"],
        "parameters": [
          {
            "name": "cuitId",
            "in": "path",
            "description": "ID del CUIT en Facturear",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["defaultInvoiceType"],
                "properties": {
                  "defaultInvoiceType": {
                    "type": "integer",
                    "minimum": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Valor por defecto actualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Valor inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "CUIT no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cuits/{cuitId}/default-concept": {
      "post": {
        "summary": "Configurar concepto por defecto",
        "description": "Configura el concepto (1 productos, 2 servicios, 3 ambos) que se usa cuando una factura no trae concepto.",
        "tags": ["CUITs"],
        "parameters": [
          {
            "name": "cuitId",
            "in": "path",
            "description": "ID del CUIT en Facturear",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["defaultConcept"],
                "properties": {
                  "defaultConcept": {
                    "type": "integer",
                    "minimum": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Valor por defecto actualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Valor inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "CUIT no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cuits/{cuitId}/default-iva": {
      "post": {
        "summary": "Configurar alícuota de IVA por defecto",
        "description": "Configura la alícuota de IVA (código de ARCA) preseleccionada en los formularios del dashboard.",
        "tags": ["CUITs"],
        "parameters": [
          {
            "name": "cuitId",
            "in": "path",
            "description": "ID del CUIT en Facturear",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["defaultIva"],
                "properties": {
                  "defaultIva": {
                    "type": "integer",
                    "minimum": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Valor por defecto actualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "CUIT actualizado"
                }
              }
            }
          },
          "400": {
            "description": "Valor inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "CUIT no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cuits/{cuitId}/invoice-branding": {
      "get": {
        "summary": "Obtener el diseño de factura",
        "description": "Plantilla, logo, color y datos del emisor con que se imprimen las facturas del CUIT.",
        "tags": ["CUITs"],
        "parameters": [{ "name": "cuitId", "in": "path", "description": "ID del CUIT en Facturear", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Diseño de factura", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InvoiceBranding" } } } },
          "404": { "description": "CUIT no encontrado", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      },
      "put": {
        "summary": "Cambiar el diseño de factura",
        "description": "Cambia los campos enviados; los que no se envían quedan como están y null borra un valor. Se aplica también al PDF de las facturas ya emitidas.",
        "tags": ["CUITs"],
        "parameters": [{ "name": "cuitId", "in": "path", "description": "ID del CUIT en Facturear", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InvoiceBranding" } } } },
        "responses": {
          "200": { "description": "Diseño actualizado", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InvoiceBranding" } } } },
          "400": { "description": "Valor inválido", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "CUIT no encontrado", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/invoices": {
      "get": {
        "summary": "Listar facturas",
        "description": "Lista las facturas del entorno de la API key, de la más nueva a la más vieja, con filtros y paginación.",
        "tags": ["Facturas"],
        "parameters": [
          {
            "name": "cuit",
            "in": "query",
            "description": "CUIT emisor (o parte de él)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tipo",
            "in": "query",
            "description": "Código de ARCA del tipo de comprobante",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "comprobante",
            "in": "query",
            "description": "Número de comprobante",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Estado de la factura",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["success", "error", "processing"]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Busca en CUIT emisor, número de comprobante, código de tipo de comprobante y descripción",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número de página",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Elementos por página",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Facturas obtenidas exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Crear facturas",
        "description": "Crea facturas electrónicas individuales o en lote. El sistema procesa las solicitudes de forma asíncrona a través de un sistema de colas.",
        "tags": ["Facturas"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/InvoiceRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/InvoiceRequest"
                    },
                    "maxItems": 500
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura(s) aceptada(s) para procesamiento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Datos de factura inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Límite de facturas del plan alcanzado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{invoiceId}": {
      "get": {
        "summary": "Obtener factura por ID",
        "description": "Obtiene los detalles de una factura específica por su ID.",
        "tags": ["Facturas"],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "ID de la factura",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Factura obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "404": {
            "description": "Factura no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/arca/{name}": {
      "get": {
        "summary": "Obtener parámetro ARCA específico",
        "description": "Obtiene un parámetro específico de AFIP/ARCA por nombre. Estos parámetros son esenciales para la facturación electrónica en Argentina.",
        "tags": ["Utilidades"],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Nombre del parámetro AFIP a obtener",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "FEPARAMGETTIPOSDOC",
                "FEPARAMGETTIPOSCBTE",
                "FEPARAMGETTIPOSCONCEPTO",
                "FEPARAMGETTIPOSIVA",
                "FEPARAMGETTIPOSMONEDAS",
                "FEPARAMGETTIPOSTRIBUTOS",
                "FEPARAMGETCOTIZACION",
                "FEPARAMGETCONDICIONIVARECEPTOR"
              ]
            }
          },
          {
            "name": "codId",
            "in": "query",
            "description": "ID de moneda de ARCA, por ejemplo DOL (requerido para FEPARAMGETCOTIZACION)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claseCmp",
            "in": "query",
            "description": "Clase de comprobante (A, B, C, M) para filtrar FEPARAMGETCONDICIONIVARECEPTOR",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parámetro ARCA obtenido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Respuesta de ARCA tal cual. La lista viene dentro de ResultGet (por ejemplo ResultGet.IvaTipo o ResultGet.CbteTipo)",
                  "properties": {
                    "ResultGet": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parámetro inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "ARCA no disponible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/batches": {
      "get": {
        "summary": "Listar lotes de facturas",
        "description": "Obtiene la lista de lotes de facturas con paginación.",
        "tags": ["Lotes"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Número de página",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Elementos por página",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de lotes obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batches": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Batch"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invoices/batches/{batchId}": {
      "get": {
        "summary": "Obtener lote por ID",
        "description": "Obtiene los detalles completos de un lote específico, incluyendo todos sus items.",
        "tags": ["Lotes"],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "ID del lote",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lote obtenido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchDetail"
                }
              }
            }
          },
          "404": {
            "description": "Lote no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Agregar facturas a lote",
        "description": "Agrega facturas adicionales a un lote existente que aún no ha sido completado.",
        "tags": ["Lotes"],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "ID del lote",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minItems": 1,
                "maxItems": 500,
                "items": {
                  "$ref": "#/components/schemas/InvoiceRequest"
                },
                "description": "Facturas a agregar al lote"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Facturas agregadas al lote exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batch": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer",
                      "description": "Cantidad de facturas agregadas"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["processing"]
                    },
                    "batchId": {
                      "type": "string"
                    },
                    "addedToExistingBatch": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos o lote ya completado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/batches/{batchId}/items/{itemId}/retry": {
      "post": {
        "summary": "Reintentar item de lote",
        "description": "Reintenta el procesamiento de un item específico que falló en un lote.",
        "tags": ["Lotes"],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "ID del lote",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "ID del item del lote",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item reintentado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "description": "Mensaje de confirmación"
                    },
                    "itemId": {
                      "type": "string",
                      "description": "ID del item"
                    },
                    "newStatus": {
                      "type": "string",
                      "enum": ["pending"],
                      "description": "Nuevo estado del item"
                    },
                    "manualRetryCount": {
                      "type": "integer",
                      "description": "Reintentos manuales hechos (máximo 5)"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Lote o item no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{invoiceId}/pdf": {
      "get": {
        "summary": "Obtener PDF de factura",
        "description": "Genera el PDF de una factura. Por defecto devuelve una URL de descarga; con download=true devuelve el archivo.",
        "tags": ["Facturas"],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "ID de la factura",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "download",
            "in": "query",
            "description": "true para recibir el PDF en lugar de la URL",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "URL de descarga del PDF, o el PDF si download=true",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "download_url": {
                      "type": "string"
                    },
                    "invoice_id": {
                      "type": "string"
                    },
                    "invoice_number": {
                      "type": "string",
                      "description": "Punto de venta y número, por ejemplo 0001-00000145"
                    },
                    "environment": {
                      "type": "string"
                    }
                  }
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Factura no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Cuit": {
        "type": "object",
        "description": "CUIT de tu cuenta. Nunca incluye certificados, claves privadas ni tickets de acceso.",
        "required": [
          "id",
          "number",
          "testing_certificate_valid",
          "production_certificate_valid",
          "testing_afip_connection_valid",
          "production_afip_connection_valid",
          "is_default",
          "setupStatus",
          "userId",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "cm1a2b3c4d5e6f7g8h9i0j",
            "description": "ID del CUIT"
          },
          "number": {
            "type": "string",
            "pattern": "^[0-9]{2}-[0-9]{8}-[0-9]{1}$",
            "example": "20-12345678-9",
            "description": "Número de CUIT en formato XX-XXXXXXXX-X"
          },
          "persona": {
            "type": ["object", "null"],
            "description": "Datos del padrón de ARCA (datosGenerales, datosMonotributo o datosRegimenGeneral, etc.) tal como los devuelve ARCA"
          },
          "personaLastUpdated": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Última actualización de los datos del padrón"
          },
          "pos": {
            "type": ["object", "null"],
            "description": "Puntos de venta tal como los devuelve ARCA (FEParamGetPtosVenta). La lista está en ResultGet.PtoVenta"
          },
          "posLastUpdated": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Última actualización de los puntos de venta"
          },
          "default_pos": {
            "type": ["integer", "null"],
            "description": "Punto de venta por defecto",
            "example": 1
          },
          "default_concept": {
            "type": ["integer", "null"],
            "description": "Concepto por defecto (1 productos, 2 servicios, 3 productos y servicios)",
            "example": 2
          },
          "default_invoice_type": {
            "type": ["integer", "null"],
            "description": "Tipo de comprobante por defecto (código de ARCA)",
            "example": 11
          },
          "default_iva": {
            "type": ["integer", "null"],
            "description": "Alícuota de IVA por defecto (código de ARCA)",
            "example": 5
          },
          "production_certificate_expiration": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Vencimiento del certificado de producción"
          },
          "production_ta_expiration": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Vencimiento del ticket de acceso de producción"
          },
          "testing_certificate_expiration": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Vencimiento del certificado de homologación"
          },
          "testing_ta_expiration": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Vencimiento del ticket de acceso de homologación"
          },
          "testing_certificate_valid": {
            "type": "boolean",
            "description": "El certificado de homologación es válido"
          },
          "production_certificate_valid": {
            "type": "boolean",
            "description": "El certificado de producción es válido"
          },
          "testing_afip_connection_valid": {
            "type": "boolean",
            "description": "La conexión con ARCA en homologación funciona"
          },
          "production_afip_connection_valid": {
            "type": "boolean",
            "description": "La conexión con ARCA en producción funciona"
          },
          "is_default": {
            "type": "boolean",
            "description": "Es el CUIT por defecto de la cuenta"
          },
          "setupStatus": {
            "type": "string",
            "enum": [
              "INITIALIZED",
              "IN_PROGRESS",
              "TEST_CERTIFICATE_COMPLETE",
              "PROD_CERTIFICATE_COMPLETE",
              "AWAITING_DELEGATION",
              "DELEGATION_COMPLETE",
              "AUTOMATION_IN_PROGRESS",
              "AUTOMATION_FAILED",
              "COMPLETED",
              "SKIPPED"
            ],
            "description": "Estado de la configuración del CUIT"
          },
          "integrationMode": {
            "type": ["string", "null"],
            "enum": ["DELEGATION", "CERTIFICATE", null],
            "description": "Modo de conexión con ARCA"
          },
          "testingSetupState": {
            "type": ["string", "null"],
            "enum": ["REQUESTED", "COMPLETED", null],
            "description": "Estado de la configuración de homologación. Solo viene en GET /cuits"
          },
          "productionSetupState": {
            "type": ["string", "null"],
            "enum": ["REQUESTED", "COMPLETED", null],
            "description": "Estado de la configuración de producción. Solo viene en GET /cuits"
          },
          "userId": {
            "type": "string",
            "description": "ID del usuario dueño del CUIT"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de creación"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de última actualización"
          }
        }
      },
      "InvoiceRequest": {
        "type": "object",
        "description": "Una factura. Todos los campos son opcionales salvo el importe: enviá impTotal (o amount, deprecado). Si no enviás cuitId ni cuit se usa el CUIT por defecto de la cuenta; lo que no envíes se completa con los valores por defecto del CUIT.",
        "properties": {
          "cuitId": {
            "type": "string",
            "description": "ID del CUIT emisor. Alternativa a cuit"
          },
          "cuit": {
            "type": "string",
            "example": "20-12345678-9",
            "description": "Número de CUIT emisor, con o sin guiones. Alternativa a cuitId"
          },
          "invoiceType": {
            "type": "integer",
            "description": "Tipo de comprobante (código de ARCA, por ejemplo 1 Factura A, 6 Factura B, 11 Factura C). Por defecto, el del CUIT; si no tiene, 11 para monotributistas y 6 para responsables inscriptos",
            "example": 11
          },
          "ptoVta": {
            "type": "integer",
            "description": "Punto de venta. Por defecto, el del CUIT (o 1)",
            "example": 1
          },
          "concepto": {
            "type": "integer",
            "enum": [1, 2, 3],
            "description": "Concepto: 1 productos, 2 servicios, 3 productos y servicios. Por defecto, el del CUIT (o 2 para monotributistas y 1 para el resto)"
          },
          "docTipo": {
            "type": "integer",
            "default": 99,
            "description": "Tipo de documento del receptor (código de ARCA: 80 CUIT, 86 CUIL, 96 DNI, 99 consumidor final)"
          },
          "docNro": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Número de documento del receptor (0 para consumidor final)"
          },
          "condicionIVAReceptorId": {
            "type": "integer",
            "enum": [1, 4, 5, 6, 7, 8, 9, 10, 13, 15, 16],
            "description": "Condición frente al IVA del receptor (obligatoria para ARCA desde el 1/12/2026). Si no se envía: 5 (Consumidor Final) para receptores sin identificar o con DNI; para CUIT/CUIL se toma del padrón de ARCA, y si no se puede determinar la API responde 400. Debe corresponder a la clase del comprobante (A/M: 1, 6, 13, 16; B: 4, 5, 7, 8, 9, 10, 15; C: todas). Ver /es/guides/condicion-iva-receptor."
          },
          "monId": {
            "type": "string",
            "default": "PES",
            "description": "Moneda (código de ARCA, por ejemplo PES o DOL)"
          },
          "monCotiz": {
            "type": "number",
            "exclusiveMinimum": 0,
            "default": 1,
            "description": "Cotización de la moneda"
          },
          "description": {
            "type": "string",
            "default": "Venta de servicios",
            "description": "Descripción de la factura"
          },
          "clientName": {
            "type": "string",
            "maxLength": 200,
            "description": "Nombre o razón social del receptor, impreso en la factura. Si el receptor tiene CUIT y no se envía, se toma del padrón de ARCA"
          },
          "clientAddress": {
            "type": "string",
            "maxLength": 250,
            "description": "Domicilio del receptor, impreso en la factura"
          },
          "condicionVenta": {
            "type": "string",
            "enum": ["contado", "cuenta_corriente", "tarjeta_debito", "tarjeta_credito", "transferencia", "cheque", "otra"],
            "description": "Condición de venta impresa en la factura (RG 1415, Anexo II, B). ARCA no la recibe"
          },
          "fchServDesde": {
            "type": "string",
            "description": "Inicio del período facturado (servicios). Fecha en formato YYYYMMDD"
          },
          "fchServHasta": {
            "type": "string",
            "description": "Fin del período facturado (servicios). Fecha en formato YYYYMMDD"
          },
          "fchVtoPago": {
            "type": "string",
            "description": "Vencimiento del pago (servicios). Fecha en formato YYYYMMDD"
          },
          "cbteFch": {
            "type": "string",
            "pattern": "^[0-9]{8}$",
            "description": "Fecha del comprobante. Fecha en formato YYYYMMDD. Por defecto, hoy",
            "example": "20260928"
          },
          "impNeto": {
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 10000000,
            "description": "Importe neto gravado"
          },
          "impTotal": {
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 10000000,
            "description": "Importe total. Requerido si no enviás amount",
            "example": 1210
          },
          "impTotConc": {
            "type": "number",
            "minimum": 0,
            "default": 0,
            "description": "Importe neto no gravado"
          },
          "impOpEx": {
            "type": "number",
            "minimum": 0,
            "default": 0,
            "description": "Importe exento"
          },
          "impTrib": {
            "type": "number",
            "minimum": 0,
            "default": 0,
            "description": "Suma de los tributos"
          },
          "impIVA": {
            "type": "number",
            "minimum": 0,
            "default": 0,
            "description": "Suma del IVA"
          },
          "amount": {
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 10000000,
            "deprecated": true,
            "description": "Importe total. Deprecado: usá impTotal"
          },
          "cbtesAsoc": {
            "type": "array",
            "description": "Comprobantes asociados (notas de crédito y débito)",
            "items": {
              "type": "object",
              "required": ["tipo", "ptoVta", "nro"],
              "properties": {
                "tipo": {
                  "type": "integer",
                  "description": "Tipo de comprobante asociado"
                },
                "ptoVta": {
                  "type": "integer",
                  "description": "Punto de venta del comprobante asociado"
                },
                "nro": {
                  "type": "integer",
                  "description": "Número del comprobante asociado"
                },
                "cuit": {
                  "type": "string",
                  "description": "CUIT emisor del comprobante asociado"
                },
                "cbteFch": {
                  "type": "string",
                  "description": "Fecha del comprobante asociado. Fecha en formato YYYYMMDD"
                }
              }
            }
          },
          "tributos": {
            "type": "array",
            "description": "Tributos (percepciones, impuestos internos, etc.)",
            "items": {
              "type": "object",
              "required": ["id", "desc", "baseImp", "alic", "importe"],
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Código del tributo (FEPARAMGETTIPOSTRIBUTOS)"
                },
                "desc": {
                  "type": "string",
                  "description": "Descripción del tributo"
                },
                "baseImp": {
                  "type": "number",
                  "minimum": 0,
                  "description": "Base imponible"
                },
                "alic": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Alícuota en porcentaje"
                },
                "importe": {
                  "type": "number",
                  "minimum": 0,
                  "description": "Importe del tributo"
                }
              }
            }
          },
          "iva": {
            "type": "array",
            "description": "Alícuotas de IVA",
            "items": {
              "type": "object",
              "required": ["id", "baseImp", "importe"],
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Código de la alícuota (FEPARAMGETTIPOSIVA, por ejemplo 5 = 21%)"
                },
                "baseImp": {
                  "type": "number",
                  "minimum": 0,
                  "description": "Base imponible"
                },
                "importe": {
                  "type": "number",
                  "minimum": 0,
                  "description": "Importe de IVA"
                }
              }
            }
          },
          "opcionales": {
            "type": "array",
            "description": "Datos opcionales de ARCA",
            "items": {
              "type": "object",
              "required": ["id", "valor"],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Código del opcional"
                },
                "valor": {
                  "type": "string",
                  "description": "Valor"
                }
              }
            }
          },
          "compradores": {
            "type": "array",
            "description": "Compradores (operaciones con varios compradores)",
            "items": {
              "type": "object",
              "required": ["docTipo", "docNro", "porcentaje"],
              "properties": {
                "docTipo": {
                  "type": "integer",
                  "description": "Tipo de documento del comprador"
                },
                "docNro": {
                  "type": "integer",
                  "description": "Número de documento del comprador"
                },
                "porcentaje": {
                  "type": "number",
                  "description": "Porcentaje de titularidad"
                }
              }
            }
          },
          "periodoAsoc": {
            "type": "object",
            "description": "Período asociado (notas de crédito y débito)",
            "required": ["fchDesde", "fchHasta"],
            "properties": {
              "fchDesde": {
                "type": "string",
                "description": "Desde. Fecha en formato YYYYMMDD"
              },
              "fchHasta": {
                "type": "string",
                "description": "Hasta. Fecha en formato YYYYMMDD"
              }
            }
          },
          "actividades": {
            "type": "array",
            "description": "Actividades del emisor",
            "items": {
              "type": "object",
              "required": ["id"],
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Código de actividad"
                }
              }
            }
          },
          "items": {
            "type": "array",
            "maxItems": 500,
            "description": "Ítems de la factura (se muestran en el PDF)",
            "items": {
              "type": "object",
              "required": ["description", "quantity", "unitPrice", "discount", "ivaRate", "subtotal"],
              "properties": {
                "description": {
                  "type": "string",
                  "description": "Descripción del ítem"
                },
                "quantity": {
                  "type": "number",
                  "exclusiveMinimum": 0,
                  "description": "Cantidad"
                },
                "unitPrice": {
                  "type": "number",
                  "exclusiveMinimum": 0,
                  "description": "Precio unitario"
                },
                "discount": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Descuento en porcentaje"
                },
                "ivaRate": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Alícuota de IVA en porcentaje"
                },
                "subtotal": {
                  "type": "number",
                  "exclusiveMinimum": 0,
                  "description": "Subtotal del ítem"
                }
              }
            }
          }
        }
      },
      "Invoice": {
        "type": "object",
        "required": [
          "id",
          "userId",
          "cuitId",
          "environment",
          "amount",
          "voucherNumber",
          "feCAEReq",
          "status",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID de la factura"
          },
          "userId": {
            "type": "string",
            "description": "ID del usuario"
          },
          "cuitId": {
            "type": "string",
            "description": "ID del CUIT emisor"
          },
          "environment": {
            "type": "string",
            "enum": ["production", "homologation"],
            "description": "Entorno en el que se emitió"
          },
          "amount": {
            "type": "number",
            "example": 1210,
            "description": "Importe total"
          },
          "voucherNumber": {
            "type": "integer",
            "example": 145,
            "description": "Número de comprobante"
          },
          "ptoVta": {
            "type": ["integer", "null"],
            "description": "Punto de venta",
            "example": 1
          },
          "invoiceType": {
            "type": ["integer", "null"],
            "description": "Tipo de comprobante (código de ARCA)",
            "example": 11
          },
          "feCAEReq": {
            "type": "object",
            "description": "Solicitud enviada a ARCA (FeCAEReq con FeCabReq y FeDetReq), más items, tributos y clientName"
          },
          "feCabResp": {
            "type": ["object", "null"],
            "description": "Respuesta de ARCA tal cual (FeCabResp y FeDetResp; el CAE y su vencimiento están en FeDetResp.FECAEDetResponse)"
          },
          "status": {
            "type": "string",
            "enum": ["processing", "success", "error"],
            "description": "Estado de la factura"
          },
          "errorMessage": {
            "type": ["string", "null"],
            "description": "Motivo del error, si status es error"
          },
          "description": {
            "type": ["string", "null"],
            "description": "Descripción de la factura"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de creación"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de última actualización"
          },
          "cuit": {
            "type": "object",
            "description": "CUIT emisor. persona solo viene en GET /invoices/{invoiceId}",
            "properties": {
              "number": {
                "type": "string",
                "description": "Número de CUIT",
                "example": "20-12345678-9"
              },
              "persona": {
                "type": ["object", "null"],
                "description": "Datos del padrón de ARCA del emisor"
              }
            }
          }
        }
      },
      "InvoiceResponse": {
        "type": "object",
        "description": "Las facturas quedan encoladas en un lote; consultá su resultado con GET /invoices/batches/{batchId}.",
        "required": ["batch", "message", "count", "status", "batchId", "queueIdentifiers"],
        "properties": {
          "batch": {
            "type": "boolean",
            "description": "false si se encoló una sola factura, true si fueron varias"
          },
          "message": {
            "type": "string",
            "description": "Mensaje de confirmación",
            "example": "Factura encolada para procesamiento"
          },
          "count": {
            "type": "integer",
            "description": "Cantidad de facturas encoladas",
            "example": 1
          },
          "status": {
            "type": "string",
            "enum": ["processing"],
            "description": "Estado del lote"
          },
          "batchId": {
            "type": "string",
            "description": "ID del lote creado"
          },
          "queueIdentifiers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Colas en las que se encolaron las facturas (una por entorno, CUIT, punto de venta y tipo de comprobante)"
          }
        }
      },
      "Meta": {
        "type": "object",
        "required": ["page", "limit", "totalCount", "totalPages", "hasNextPage", "hasPrevPage"],
        "properties": {
          "page": {
            "type": "integer",
            "example": 1,
            "description": "Página actual"
          },
          "limit": {
            "type": "integer",
            "example": 10,
            "description": "Elementos por página"
          },
          "totalCount": {
            "type": "integer",
            "example": 42,
            "description": "Total de elementos"
          },
          "totalPages": {
            "type": "integer",
            "example": 5,
            "description": "Total de páginas"
          },
          "hasNextPage": {
            "type": "boolean",
            "description": "Hay una página siguiente"
          },
          "hasPrevPage": {
            "type": "boolean",
            "description": "Hay una página anterior"
          }
        }
      },
      "Batch": {
        "type": "object",
        "required": [
          "id",
          "userId",
          "environment",
          "status",
          "totalItems",
          "processedItems",
          "successfulItems",
          "failedItems",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID del lote"
          },
          "userId": {
            "type": "string",
            "description": "ID del usuario"
          },
          "environment": {
            "type": "string",
            "enum": ["production", "homologation"],
            "description": "Entorno"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "completed", "completed_with_errors", "error"],
            "description": "Estado del lote"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total de items en el lote"
          },
          "processedItems": {
            "type": "integer",
            "description": "Items procesados (con éxito o con error)"
          },
          "successfulItems": {
            "type": "integer",
            "description": "Items procesados con éxito"
          },
          "failedItems": {
            "type": "integer",
            "description": "Items que fallaron"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de creación"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de última actualización"
          },
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchItem"
            },
            "description": "Items del lote"
          }
        }
      },
      "BatchDetail": {
        "type": "object",
        "required": [
          "id",
          "status",
          "totalItems",
          "processedItems",
          "successfulItems",
          "failedItems",
          "environment",
          "createdAt",
          "updatedAt",
          "items"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID del lote"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "completed", "completed_with_errors", "error"],
            "description": "Estado del lote"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total de items en el lote"
          },
          "processedItems": {
            "type": "integer",
            "description": "Items procesados (con éxito o con error)"
          },
          "successfulItems": {
            "type": "integer",
            "description": "Items procesados con éxito"
          },
          "failedItems": {
            "type": "integer",
            "description": "Items que fallaron"
          },
          "environment": {
            "type": "string",
            "enum": ["production", "homologation"],
            "description": "Entorno"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de creación"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de última actualización"
          },
          "items": {
            "type": "array",
            "description": "Items del lote",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BatchItem"
                },
                {
                  "type": "object",
                  "properties": {
                    "cuit": {
                      "type": ["object", "null"],
                      "description": "CUIT emisor del item",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "number": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "BatchItem": {
        "type": "object",
        "required": ["id", "status", "order", "createdAt", "updatedAt", "requestBody"],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID del item"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "completed", "error"],
            "description": "Estado del item"
          },
          "order": {
            "type": "integer",
            "description": "Posición del item en su cola"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de creación"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de última actualización"
          },
          "requestBody": {
            "type": "object",
            "description": "Factura encolada: los campos de InvoiceRequest ya completados con los valores por defecto del CUIT"
          },
          "responseBody": {
            "type": ["object", "null"],
            "description": "Resultado del procesamiento (la factura emitida o el detalle del error)"
          }
        }
      },
      "InvoiceBranding": {
        "type": "object",
        "properties": {
          "template": { "type": "string", "enum": ["clasico", "moderno", "minimalista", "elegante"], "description": "Plantilla visual. Por defecto clasico" },
          "accentColor": { "type": ["string", "null"], "pattern": "^#[0-9a-fA-F]{6}$", "description": "Color de acento #rrggbb. null usa el de la plantilla" },
          "logo": { "type": ["string", "null"], "description": "Logo como data URL (data:image/png|jpeg|webp;base64,...), hasta 512 KB" },
          "tradeName": { "type": ["string", "null"], "maxLength": 120, "description": "Nombre de fantasía" },
          "iibb": { "type": ["string", "null"], "maxLength": 60, "description": "Número de Ingresos Brutos, Exento o Convenio Multilateral" },
          "activityStart": { "type": ["string", "null"], "format": "date", "description": "Fecha de inicio de actividades (AAAA-MM-DD)" },
          "address": { "type": ["string", "null"], "maxLength": 200, "description": "Domicilio comercial, si difiere del domicilio fiscal del padrón" },
          "footerNote": { "type": ["string", "null"], "maxLength": 500, "description": "Texto libre al pie de la factura" },
          "iibbRate": { "type": ["number", "null"], "minimum": 0, "maximum": 100, "description": "Alícuota de Ingresos Brutos en %. Se usa para las leyendas de transparencia de CABA y Mendoza, que se deducen del domicilio fiscal y se imprimen desde 2027-01-01" }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Mensaje de error"
          },
          "details": {
            "description": "Detalle del error: un texto, o la lista de errores de validación"
          },
          "code": {
            "type": "string",
            "description": "Código de error, por ejemplo SUBSCRIPTION_LIMIT_EXCEEDED"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API Key para autenticación. Formato: test_sk_xxx para testing, prod_sk_xxx para producción."
      }
    }
  }
}
